/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
/tmp/pids/*.pid

/storage/*
!/storage/.keep

/vendor/bundle

/config/master.key

*.sqlite3
*.sqlite3-*

/.bundle
/.env
/.env.*

/coverage
/node_modules