/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
/tmp/pids/*.pid

/storage/*
!/storage/.keep

/vendor/bundle

/config/master.key

*.sqlite3
*.sqlite3-*

/.bundle
/.env
/.env.*

/coverage
/node_modules

/tools/routing/**/data/*
!/tools/routing/**/data/.keep
/tools/routing/**/graph-cache/*
!/tools/routing/**/graph-cache/.keep
/tools/routing/**/logs/*
!/tools/routing/**/logs/.keep
/tools/routing/**/srtm/*
!/tools/routing/**/srtm/.keep
/tools/routing/**/graphhopper-web-*.jar